/* RTL Specific Styles */
body[dir="rtl"] {
    text-align: right;
}

    body[dir="rtl"] .me-1,
    body[dir="rtl"] .me-2,
    body[dir="rtl"] .me-3 {
        margin-left: auto !important;
        margin-right: 0.25rem !important;
    }

    body[dir="rtl"] .ms-auto {
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    body[dir="rtl"] .text-start {
        text-align: right !important;
    }

    body[dir="rtl"] .text-end {
        text-align: left !important;
    }

    body[dir="rtl"] .dropdown-menu {
        text-align: right;
    }

    body[dir="rtl"] .input-group > :not(:first-child):not(.dropdown-menu) {
        border-radius: 0.5rem 0 0 0.5rem;
    }

    body[dir="rtl"] .input-group > :not(:last-child):not(.dropdown-menu) {
        border-radius: 0 0.5rem 0.5rem 0;
    }

    body[dir="rtl"] .btn-group {
        direction: ltr;
    }
